# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Environment/config secrets
.env

# Django
*.sqlite3
media/
staticfiles/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
